<% if @age<=0 %>
<p>Why am I talking to a fetus?</p>
<% else %> 
<% @age.times do %>
<% <img src="https://cdn2.vectorstock.com/i/1000x1000/86/31/cartoon-wax-candle-vector-2188631.jpg"> %>
<% end %>
<% end %> 